.Rproj.user
.Rhistory
.RData
.Ruserdata

# files
test_main.r
*.png
!/vignettes/figures/*.png
# folders
docs/
other/
output/
# ignore data because this is where sensitive data is stored
/data/*.*
# exception for lookuptable
!/data/speciesLookupTable.rda
!/data/marketCodeLookupTable.RData

tests/
inst/doc
